body{
  font-family:'Ubuntu',sans-serif;
}

*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

#map{
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	height: 100%;
}

nav{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: whitesmoke;
	opacity: 0.8;
}

.actionTitle{
	position: fixed;
	z-index: 100;
	top: 12px;
	/*left: 50%;*/
	left: 35%;
	font-size: 18px;
}

.actionDropdown{
	position: fixed;
	z-index: 100;
	top: 12px;
	right: 2%;
	font-size: 18px;
}
.actionDropdown a{
	text-decoration: none;
	color: black;
}

/*to make the dropdown menu open to the left*/
.dropdown-menu{
	left:-100% !important;
}

.navTab{
	background-color: whitesmoke;
	border-top: 1px solid grey;
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	margin: 0;
}
.navTab i{
	font-size: 24px;
	padding-top: 10px;
}

/*change check in modal position*/
#checkInModal{
	top: 15%;
}

